/**
 * CS4287 Project
 * Author: Zechuan Xiao
 * Email: zechuan.xiao@vanderbilt.edu
 */
 
.text {
    margin-top: 7px;
    padding: 0 5px;
    box-sizing: border-box;
}

.horizontalBlank {
    margin-bottom: 10px;
}